/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #e5dad63d;
}

h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
    color: rgb(82, 80, 80);
}

.normal_headings {
    font-size: 40px;
    color: #211A17;
    font-weight: bold;
}


/* First Section Style Starts */

.container {
    /* min-height: 50vh; */
    display: flex;
    /* height: 300px; */
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.left_border_part {
    border-left: 5px solid orchid;
}

.text_container {
    /* height: auto; */
    flex: 3;
    padding: 30px;
}

.image_container {
    flex: 2;
    padding: 30px;
}

.image_container img {
    height: 400px;
    width: 400px;
    margin-left: 17px;
    margin-top: -53px;
}

.giant_title {
    font-size: 60px;
    margin: 30px 0 0 10px;
    padding: 10px;
    line-height: 10px;
}

.colored_heading {
    font-size: 60px;
    margin-top: 25px;
    color: #a427af;
    padding-left: 10px;
    margin-left: 10px;
}

.text_container p {
    font-size: 18px;
    /* margin-top: -24px; */
}

.btn {
    background-color: #863e24;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    transition: .3s ease;
}

.btn:hover {
    background-color: #863e24b4;
}


/* First Section Style Ends */

.centered_heading {
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.centered_heading span {
    color: #a427af;
}


/* Second Section Style Starts */

.card {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    width: 50%;
}

.card img {
    height: 150px;
}

.card_1 {
    background-color: #a427af31;
}

.card_2 {
    background-color: #863e2444;
}

.card_3 {
    background-color: #5b423850;
}

.card h3 {
    color: black;
    font-weight: bold;
    font-size: 25px;
}


/* Second Section Style Ends */


/* Third Section Style Starts */

.third_section .image_container img {
    height: 367px;
    width: 77%;
    margin-top: 20px;
}


/* Third Section Style Ends */


/* Contact Section Style Starts */

form {
    width: 100%;
    text-align: left;
    padding-left: 250px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(229, 218, 214, 0.89), rgba(229, 218, 214, 0.726)), url(images/pictures/coding.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

input[type=text] {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type=email] {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

input[type=number] {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

textarea {
    width: 70%;
    padding: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 10px;
}

.submit_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: #211A17;
}

.submit_btn:hover {
    background-color: #211a17c2;
}

.orange_colored_span {
    color: #a427af !important;
}


/* Contact Section Style Ends */


/* Footer Starts */

footer {
    padding: 20px;
    background-color: #211A17;
    color: white;
    text-align: center;
    margin-top: 100px;
}

footer h3 {
    color: white;
    font-size: 30px;
    margin: 0;
    font-family: 'Courgette', cursive;
    font-weight: bold;
}

footer h3 span {
    color: #a427af;
}


/* Footer Ends */